%h2
  Ocorrencias

%table#occurrences
  %thead
    %tr
      %th Nome
      %th Endereço
      %th Bairro
      %th Localização
      %th Referencia
      %th Telefone
      %th Desastre
  %tbody
    - @occurrences.each do |occurrence|
      %tr{:class => cycle("", "odd")}
        %td= occurrence.name
        %td= occurrence.address
        %td= occurrence.neighborhood
        %td= occurrence.location
        %td= occurrence.ref_point
        %td= occurrence.phone
        %td= occurrence.category.name


= content_for :sidebar do
  %ul.nav
    %li= link_to "Nova Ocorrencia", new_occurrence_path

  %br/

  #search_form
    %h2 Busca
    = form_for :occurrences, :html => { :method => :get } do |form|
      %label Nome
      = form.text_field :name, :value => ""
      %br/
      %br/
      %label Endereço
      = form.text_field :address, :value => ""
      %br/
      %br/
      %input{:type => "submit", :value => "Buscar"}


