%h2
  Ocorrencias
  = link_to "Ver no Mapa", "#"

%table#occurrences
  %thead
    %tr
      %th Nome
      %th Endereço
      %th Bairro
      %th Localização
      %th Referencia
      %th Telefone
      %th Desastre
  %tbody
    - @occurrences.each do |occurrence|
      %tr{:class => cycle("", "odd")}
        %td= occurrence.name
        %td= occurrence.address
        %td= occurrence.neighborhood
        %td= occurrence.location
        %td= occurrence.ref_point
        %td= occurrence.phone
        %td= occurrence.category.name


= content_for :sidebar do
  %ul
    %li= link_to "Nova Ocorrencia", new_occurrence_path
